.header {
  min-height: 81px;
  border-bottom: 1px solid var(--headerborder);
 
  z-index: 1000;

  &.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

body {
  margin: 0;
}

.header-container {
  display: flex;
  align-items: center;

  @include tablet {
    align-items: none;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  display: inline-block;
  padding: 24px 0;
  cursor: url(../images/touch.svg), pointer;

  @include tablet {
    padding-top: 32px;
    padding-bottom: 30px;
    font-size: 32px;
    line-height: 1.37;
  }

  @include desktop {
    padding: 28px 0;
    font-size: 42px;
    line-height: 1.35;
  }
}

.site-nav {
  display: none;

  @include tablet {
    display: flex;
    margin-left: 48px;
    gap: 44px;
  }

  @include desktop {
    margin-left: 102px;
    gap: 69px;
  }
}

.site-nav__item {
  padding-top: 48px;
  padding-bottom: 36px;

  @include desktop {
    padding-top: 55px;
    padding-bottom: 33px;
  }
}

.site-nav__link {
  font-weight: 700;
  line-height: 1.37;
  cursor: url(../images/touch.svg), pointer;
  @include desktop {
    font-size: 18px;
    line-height: 1.38;
  }

  &--current {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-active-btn);
    padding-left: 6px;
    padding-right: 6px;

    @include desktop {
      padding-bottom: 5px;
    }
  }
}

.search-field {
  margin-left: auto;
  display: flex;
  background-color: transparent;
  height: 31px;

  @include tablet {
    border: 1px solid var(--text-color);
    border-radius: 20px;
    margin-top: 44px;
    margin-bottom: 31px;
    width: 213px;
  }

  @include desktop {
    margin: 0 auto;
    width: 288px;
    margin-top: 51px;
    margin-bottom: 31px;
  }

  input {
    font-family: Poppins, sans-serif;
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 0.02em;
    color: var(--text-color);
    border: none;
    background: none;
    outline: none;
    &:focus {
      color: var(--text-color);
    }

    @media screen and (max-width: 767px) {
      padding: 0;
      width: 0;
    }

    @include tablet {
      padding: 5px 0;
      font-size: 14px;
      line-height: 1.7;
    }
  }
  @media screen and (max-width: 767px) {
    &:hover {
      margin-top: 1px;
      border: 1px solid var(--text-color);
      border-radius: 20px;
      input {
        width: 125px;
        padding: 8px 0;
      }

      .search-field__btn {
        padding: 6px 16px 5px 12px;
      }
    }
  }
}
.mobile-button,
.close__button,
.search-field__btn {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: url(../images/touch.svg), pointer;
  background-color: inherit;
  box-shadow: none;
}

.search-field__btn {
  @media screen and (max-width: 767px) {
    transition: 0.4s;
  }

  @include tablet {
    padding: 8px 19px 8px 14px;
  }
}

.mobile-button {
  margin-left: 14px;
}

.choseTheme {
  gap: 8px;

  @media screen and (max-width: 767px) {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &.mobile {
      display: flex;
      position: absolute;
      z-index: 6;
      bottom: 18;
      opacity: 100%;
      pointer-events: all;
      visibility: inherit;
    }
  }

  @include tablet {
    display: flex;
    width: 98px;
    height: 21px;
    margin-left: 24px;
    margin-top: 49px;
    margin-bottom: 36px;
  }

  @include desktop {
    gap: 12px;
    width: 148px;
    height: 24px;
    margin: 0;
    margin-top: 54px;
    margin-bottom: 35px;
  }
}

.mobile-button .icon {
  @include tablet {
    display: none;
  }
}

.chose {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.chose input {
  display: none;
}

.ball {
  position: absolute;
  cursor: url(../images/touch.svg), pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-btn-white);
  transition: 0.4s;
  border: 1px solid var(--color-active-btn);
}

.ball:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: var(--color-active-btn);
  transition: 0.4s;
}

input:checked + .ball:before {
  background-color: var(--color-btn-white);
}

input:checked + .ball {
  background-color: var(--color-active-btn);
  border: 1px solid var(--color-btn-white);
}

input:checked + .ball:before {
  transform: translateX(20px);
}

.ball.round {
  border-radius: 34px;
}

.ball.round:before {
  border-radius: 50%;
}

.choseTheme__dark {
  display: none;
}
.choseTheme__light {
  display: none;
}
@include desktop {
  .choseTheme {
    gap: 12px;
  }

  .choseTheme__svg {
    display: none;
  }
  .choseTheme__dark {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 1.3;

    color: var(--dark-text);
  }
  .choseTheme__light {
    display: block;
    font-size: 18px;
    line-height: 1.3;
  }
  .opacityForDark {
    opacity: 0.4;
  }
}

.choseTheme__light {
  color: var(--color-active-btn);
}

.sun {
  fill: var(--color-active-btn);
}

.close__button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 28px;
  right: 16px;
  cursor: url(../images/touch.svg), pointer;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__container {
  z-index: 1000;
  background: var(--color-btn-white);
  padding-top: 125px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 100dvh;
  margin: 0 auto;
  @include tablet {
    display: none;
  }
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  background: var(--color-btn-white);
  padding-top: 125px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  transform: translateY(-150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include tablet {
    display: none;
  }
}

.backdrop.is-open {
  transform: translateY(0);
  margin-left: auto;
  margin-right: auto;
}

.menu__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 16px;
}

.menu a {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-active-btn);
    color: var(--color-btn-white);

    .page__arrow {
      display: block;
    }
  }
}

.menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu__choseTheme {
  position: absolute;
  bottom: 18px;
  left: 16px;
}

.menu__svg {
  background-color: var(--color-active-btn);
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-btn-white);
  border-radius: 50%;
  position: relative;
  margin-right: 14px;
}

.page__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page__arrow {
  right: 25px;
  position: absolute;
  display: none;
}
.dark {
  & .search-field {
    border: 1px solid var(--text-color-dark-theme);
  }
  & #search-field__input {
    color: var(--text-color-dark-theme);
  }
  & .header {
    background-color: var(--background-color-dark);
    border-bottom: 1px solid rgba(244, 244, 244, 0.2);
  }
  & .logo{
    cursor: url(../images/touch-white.svg), pointer;
  }
  & .search__icon {
    fill: var(--text-color-dark-theme);
  }
  & .choseTheme__light {
    color: var(--text-color-dark-theme);
  }
  & .choseTheme__dark {
    color: var(--secondary-text-color);
  }
  & .sun {
    fill: var(--text-color-dark-theme);
  }
  & .moon {
    fill: var(--markercolor);
  }
  & .menu__container {
    background-color: var(--background-color-dark);
  }
  & .close__button-icon {
    fill: var(--text-color-dark-theme);
  }
  & .backdrop {
    background-color: var(--background-color-dark);
  }
  & .icon{
    fill: var(--text-color-dark-theme);
  }
  & .mobile-button,
  .close__button,
  .search-field__btn,
  .ball.round {
    cursor: url(../images/touch-white.svg), pointer;
  }
  & .site-nav__link{
    cursor: url(../images/touch-white.svg), pointer;
  }
}
.header {
  position: relative;
  background-color: var(--color-btn-white);
}
