.home-gallery{
   padding-top: 40px;
   padding-bottom: 40px;
   @include tablet{
      padding-top: 48px;
      padding-bottom: 48px;
   }
   @include desktop{
      padding-top: 60px;
      padding-bottom: 60px;
   }
}
.news{
 display: flex;
 flex-wrap: wrap;
 gap: 28px;
 @include tablet{
   gap: 30px;
 }
 @include desktop{
   gap: 40px 31px;
 }
}
.new__card{
// height temporary
height: 630px;

@include tablet{
width: 353px;
height: 675px;

}
 @include desktop{
   width: 395px;
    height: 675px;

}
}