.pagination {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 60px;

    @include tablet {
      padding-bottom: 100px;
    }
    @include desktop {
      padding-bottom: 150px;
    }
  }
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color-light);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.36;
    border: 1px solid var(--secondary-text-color);
    border-radius: 2px;
    cursor: url(../images/touch.svg), pointer;
    @include tablet {
      font-size: 16px;
      line-height: 1.375;
    }
  }
  &__btn:hover,
  .active-btn {
    background-color: var(--secondary-text-color);
    color: var(--background-color-light);
    fill: var(--background-color-light);
  }
  &__prev {
    width: 72px;
    height: 28px;
    @include tablet {
      width: 82px;
      height: 31px;
    }
    span {
      pointer-events: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
    svg {
      justify-content: center;
      fill: inherit;
    }
  }

  &__next {
    width: 72px;
    height: 28px;
    @include tablet {
      width: 82px;
      height: 31px;
    }
    span {
      pointer-events: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
    svg {
      justify-content: center;
      fill: inherit;
    }
  }

  &__next[disabled],
  &__prev[disabled] {
    color: var(--color-fon-footer);
    background-color: rgb(224, 224, 224);
    border: none;
    fill: var(--color-fon-footer);
    cursor: default;
  }

  &__numeric-btn-container {
    display: flex;
    gap: 4px;
    @include tablet {
      gap: 8px;
    }
  }
  &__num-btn {
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    @include tablet {
      width: 33px;
      height: 31px;
    }
  }
}
.dark{
  & .pagination__btn{
      cursor: url(../images/touch-white.svg), pointer;
    }
  }