.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.prev {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--background-color-light);

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  padding: 5px;
}

.next {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--background-color-light);

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;
  padding: 5px;
}
