.read-gallery {
  padding-top: 60px;
  padding-bottom: 60px;
}
.read-date {
  color: #111321;
  border-bottom: 1px solid black;
  padding-bottom: 12px;
  padding-top: 48px;
  margin-bottom: 30px;
  cursor: pointer;
  &::after {
    content: '\25BC';
    margin-left: 8px;
  }

  &.arrow-change::after {
    content: '\25B2';
    margin-left: 8px;
  }
}

// .read-date.arrow-change {
//   &.aa::after {
//     content: '\25B2';
//     margin-left: 8px;
//   }
// }
