.weather {
  width: 288px;
  height: 469px;
  font-family: var(--weather-font);
  background: var(--color-active-btn);
  color: var(--color-btn-white);
  font-family: var(--weather-font);
  mix-blend-mode: normal;
  border-radius: 4px;
  padding-top: 37px;
  padding-bottom: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 353px;
    height: 675px;
    padding-top: 40px;
    padding-bottom: 130px;
  }
  @media screen and (min-width: 1280px) {
    width: 392px;
  }

  &__info {
    display: flex;
  }

  &__temperature {
    font-size: 55px;
    line-height: 1.16;
    margin-right: 12px;
    border-right: 1px solid var(--color-btn-white);

    @media screen and (min-width: 768px) {
      font-size: 64px;
      line-height: 1.17;
    }
  }

  &__state {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 5px;
    @media screen and (min-width: 768px) {
      font-size: 36px;
      margin-bottom: 0;
    }
  }

  &__location {
    display: inline-flex;
    padding: 8px;
    font-size: 14px;
    line-height: 1.14;
    background: rgba(254, 254, 255, 0.3);
    border-radius: 10px;
    align-items: center;
    @media screen and (min-width: 768px) {
      font-size: 20px;
      line-height: 1.15;
      padding: 8px 17px 7px 7px;
    }
  }

  img {
    @media screen and (min-width: 768px) {
      width: 165px;
      
    }
  }
  &__icon {
    margin-right: 7px;
    fill: #fff;
    @media screen and (min-width: 768px) {
      width: 27px;
      height: 27px;
    }
  }

  &__date {
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 36px;
      line-height: 1.17;
    }
  }
}
