.btn-up {
  position: fixed;
  background-color: var(--color-active-btn);
  right: 20px;
  bottom: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: url(../images/touch.svg), pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity, background-color 0.3s ease-in-out;
  width: 60px;
  height: 50px;
  opacity: 1;

  &::before {
    content: '';
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }

  &:hover {
    background-color: #2d1fca;
  }
}

.btn-up_hide {
  display: none;
}

.btn-up_hiding {
  opacity: 0;
}
.dark{
  & .btn-up{
    cursor: url(../images/touch-white.svg), pointer;
  }
}