// utils
@import './utils/mixin';
@import './utils/fonts';
@import './utils/container';
@import './utils/vars';
@import './utils/is-hidden';
@import './utils/reset';
@import './common';

@import './spinner';
@import './loader.scss';
@import './header';
@import './navigation';
@import './home-gallery';
@import './page-error.scss';
@import './pagination';
@import './footer';
@import './favorite-gallery';
@import './read-gallery';
@import './calendar';
@import './weather';
@import './btnUp';
@import './accordion';
