@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

:root {
  --main-font: "Manrope", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --weather-font: "Roboto", sans-serif;
  --background-color-light: #f4f4f4;
  --text-color: #111321;
  --secondary-text-color: #4440f7;
  --additional-text-color: #a8a8a8;
  --color-btn-white: #ffffff;
  --color-active-btn: #4440f6;
  --color-fon-footer: #7a7a7a;
  --headerborder: rgba(0, 0, 0, 0.2);
  --markercolor: #4b48db;
  --text-color-dark-theme: #f4f4f4;
  --background-color-dark: #2e2e2e;
  --dark-text: #5f6775;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
}

.header {
  min-height: 81px;
  border-bottom: 1px solid var(--headerborder);
  font-family: Manrope, sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header-container {
    align-items: none;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  display: inline-block;
  padding: 24px 0;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 32px;
    padding-bottom: 30px;
    font-size: 32px;
    line-height: 1.37;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    padding: 28px 0;
    font-size: 42px;
    line-height: 1.35;
  }
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 48px;
    gap: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .site-nav {
    margin-left: 102px;
    gap: 69px;
  }
}

.site-nav__item {
  padding-top: 48px;
  padding-bottom: 36px;
}
@media screen and (min-width: 1280px) {
  .site-nav__item {
    padding-top: 55px;
    padding-bottom: 33px;
  }
}

.site-nav__link {
  font-weight: 700;
  line-height: 1.37;
}
@media screen and (min-width: 1280px) {
  .site-nav__link {
    font-size: 18px;
    line-height: 1.38;
  }
}
.site-nav__link--current {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--color-active-btn);
  padding-left: 6px;
  padding-right: 6px;
}
@media screen and (min-width: 1280px) {
  .site-nav__link--current {
    padding-bottom: 5px;
  }
}

.search-field {
  margin-left: auto;
  display: flex;
  background-color: transparent;
  height: 31px;
}
@media screen and (min-width: 768px) {
  .search-field {
    border: 1px solid var(--text-color);
    border-radius: 20px;
    margin-top: 44px;
    margin-bottom: 31px;
    width: 213px;
  }
}
@media screen and (min-width: 1280px) {
  .search-field {
    margin: 0 auto;
    width: 288px;
    margin-top: 51px;
    margin-bottom: 31px;
  }
}
.search-field input {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: var(--text-color);
  border: none;
  background: none;
  outline: none;
}
.search-field input:focus {
  color: var(--text-color);
}
@media screen and (max-width: 767px) {
  .search-field input {
    padding: 0;
    width: 0;
  }
}
@media screen and (min-width: 768px) {
  .search-field input {
    padding: 5px 0;
    font-size: 14px;
    line-height: 1.7;
  }
}
@media screen and (max-width: 767px) {
  .search-field:hover {
    margin-top: 1px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
  }
  .search-field:hover input {
    width: 125px;
    padding: 8px 0;
  }
  .search-field:hover .search-field__btn {
    padding: 6px 16px 5px 12px;
  }
}

.mobile-button,
.close__button,
.search-field__btn {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: url(../images/touch.svg), pointer;
  background-color: inherit;
  box-shadow: none;
}

@media screen and (max-width: 767px) {
  .search-field__btn {
    transition: 0.4s;
  }
}
@media screen and (min-width: 768px) {
  .search-field__btn {
    padding: 8px 19px 8px 14px;
  }
}

.mobile-button {
  margin-left: 14px;
}

.choseTheme {
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .choseTheme {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .choseTheme.mobile {
    display: flex;
    position: absolute;
    z-index: 6;
    bottom: 18;
    opacity: 100%;
    pointer-events: all;
    visibility: inherit;
  }
}
@media screen and (min-width: 768px) {
  .choseTheme {
    display: flex;
    width: 98px;
    height: 21px;
    margin-left: 24px;
    margin-top: 49px;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .choseTheme {
    gap: 12px;
    width: 148px;
    height: 24px;
    margin: 0;
    margin-top: 54px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-button .icon {
    display: none;
  }
}

.chose {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.chose input {
  display: none;
}

.ball {
  position: absolute;
  cursor: url(../images/touch.svg), pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-btn-white);
  transition: 0.4s;
  border: 1px solid var(--color-active-btn);
}

.ball:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: var(--color-active-btn);
  transition: 0.4s;
}

input:checked + .ball:before {
  background-color: var(--color-btn-white);
}

input:checked + .ball {
  background-color: var(--color-active-btn);
  border: 1px solid var(--color-btn-white);
}

input:checked + .ball:before {
  transform: translateX(20px);
}

.ball.round {
  border-radius: 34px;
}

.ball.round:before {
  border-radius: 50%;
}

.choseTheme__dark {
  display: none;
}

.choseTheme__light {
  display: none;
}

@media screen and (min-width: 1280px) {
  .choseTheme {
    gap: 12px;
  }
  .choseTheme__svg {
    display: none;
  }
  .choseTheme__dark {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 1.3;
    color: var(--dark-text);
  }
  .choseTheme__light {
    display: block;
    font-size: 18px;
    line-height: 1.3;
  }
  .opacityForDark {
    opacity: 0.4;
  }
}
.choseTheme__light {
  color: var(--color-active-btn);
}

.sun {
  fill: var(--color-active-btn);
}

.close__button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 28px;
  right: 16px;
  cursor: url(../images/touch.svg), pointer;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__container {
  z-index: 1000;
  background: var(--color-btn-white);
  padding-top: 125px;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-150%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__container.is-open {
  transform: translateY(0);
}

.menu__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 16px;
}

.menu a {
  display: flex;
  align-items: center;
  padding: 11px 16px;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  transition: color cubic-bezier(0.4, 0, 0.2, 1);
}
.menu a:hover, .menu a:focus {
  background-color: var(--color-active-btn);
  color: var(--color-btn-white);
}
.menu a:hover .page__arrow, .menu a:focus .page__arrow {
  display: block;
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__choseTheme {
  position: absolute;
  bottom: 18px;
  left: 16px;
}

.menu__svg {
  background-color: var(--color-active-btn);
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-btn-white);
  border-radius: 50%;
  position: relative;
  margin-right: 14px;
}

.page__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page__arrow {
  right: 25px;
  position: absolute;
  display: none;
}

.navigation {
  padding-top: 24px;
}
@media screen and (min-width: 768px) {
  .navigation {
    padding-top: 28px;
  }
}

.navblock {
  display: flex;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .navblock {
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .navblock {
    gap: 111px;
  }
}

.nav-buttons {
  display: flex;
  gap: 14px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav-buttons {
    gap: 16px;
  }
}

.nav-btnsel {
  display: flex;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .nav-btnsel {
    gap: 16px;
  }
}

.category-item {
  padding: 8px 13px;
  border: 1px solid var(--markercolor);
  border-radius: 20px;
  background-color: var(--color-btn-white);
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  color: var(--markercolor);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
@media screen and (min-width: 768px) {
  .category-item {
    padding: 8px 21px;
  }
}

.category-item:hover,
.category-item:focus,
.category-item:active {
  color: var(--color-btn-white);
  background-color: var(--markercolor);
}

.calendar__label {
  display: flex;
  align-items: center;
  gap: 37px;
}

.calendar__text {
  display: none;
}
@media screen and (min-width: 1280px) {
  .calendar__text {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }
}

.home-gallery {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .home-gallery {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .home-gallery {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.news {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}
@media screen and (min-width: 768px) {
  .news {
    gap: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .news {
    gap: 40px 31px;
  }
}

.new__card {
  height: 630px;
}
@media screen and (min-width: 768px) {
  .new__card {
    width: 353px;
    height: 675px;
  }
}
@media screen and (min-width: 1280px) {
  .new__card {
    width: 395px;
    height: 675px;
  }
}

.new__img {
  max-width: 288px;
  height: 395px;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .new__img {
    max-width: 353px;
  }
}
@media screen and (min-width: 1280px) {
  .new__img {
    max-width: 395px;
  }
}

.box {
  display: block;
  opacity: 1;
  position: relative;
}

.news__category {
  position: absolute;
  display: flex;
  cursor: pointer;
  min-width: 96px;
  height: auto;
  padding: 4px 14px;
  margin: 0;
  left: 0px;
  top: 40px;
  background: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.news__addbtn {
  position: absolute;
  display: block;
  pointer-events: auto;
  z-index: 2;
  min-width: 40px;
  min-height: 10px;
  margin: 0;
  padding: 6px 32px 6px 12px;
  right: 12px;
  bottom: 12px;
  background-color: #fff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  opacity: 1;
  color: #111321;
}

.news__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: -0.01em;
  color: rgb(17, 19, 33);
}

.news__text {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3571428571;
  color: var(--text-color);
}

.news__details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.news__date {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: rgb(168, 168, 168);
}

.news__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgb(68, 64, 246);
}

.news__icon {
  fill: white;
  position: absolute;
  right: 12px;
}

footer {
  height: 120px;
  background-color: #7A7A7A;
}
@media screen and (min-width: 768px) {
  footer {
    height: 146px;
  }
}/*# sourceMappingURL=index.css.map */