@mixin font($fw, $fs, $lh, $ls) {
    font-weight: $fw;
    font-size: $fs + px;
    line-height: $lh;
    letter-spacing: $ls + em;
}

@mixin mobile {
    @media screen and (min-width: 320px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}