:root {
    // Light theme
    --main-font: 'Manrope', sans-serif;
    --secondary-font: 'Poppins', sans-serif;

    --background-color-light: #f4f4f4;
    --text-color: #111321;
    --secondary-text-color: #4440f7;
    --additional-text-color: #a8a8a8;
    --color-btn-white: #ffffff;
    --color-active-btn: #4440f6;
    --color-fon-footer: #7a7a7a;
    --headerborder: rgba(0, 0, 0, 0.2);
    --markercolor: #4b48db;
    // Dark theme
    --text-color-dark-theme: #f4f4f4;
    --background-color-dark: #2e2e2e;
}