:root {
  // Light theme
  --main-font: 'Manrope';
  --secondary-font: 'Poppins';
  --weather-font: 'Roboto';


  --background-color-light: #f4f4f4;
  --text-color: #111321;
  --secondary-text-color: #4440f7;
  --additional-text-color: #a8a8a8;
  --color-btn-white: #ffffff;
  --color-active-btn: #4440f6;
  --color-fon-footer: #7a7a7a;
  --headerborder: rgba(0, 0, 0, 0.2);
  --markercolor: #4b48db;
  --blue--translucent: rgba(68, 64, 247, 0.7);
  // Dark theme
  --text-color-dark-theme: #f4f4f4;
  --background-color-dark: #2e2e2e;
  --dark-text: #5f6775;
  --green-text: #00DD73;
}