<div class="modal-bgd" id="auth-modal">

    <div class="modal-form-container">
        <button class="close-btn">x</button>

        <form action="#" class="modal-form " id="form">
            <!-- <img src="./img/trezub.svg" alt="ukr logo"> -->

            <!-- <h4 class="modal-form-title">Поділися, будь ласка, поштою</h4>  -->
            <p class="modal-form-descr" id="auth-modal-text">Sign Up please</p>
            <span class="error-handler" id="error-handler"></span>

            <div class="modal-form-field">
                <label for="user-name" class="modal-field-name">Name</label>
                <input type="name" class="modal-field-input" id="user-name">
            </div>

            <div class="modal-form-field">
                <label for="user-email" class="modal-field-name">Email</label>
                <input type="email" class="modal-field-input" id="user-email">
            </div>
            
            <div class="modal-form-field">
                <label for="user-password" class="modal-field-name">password</label>
                <input type="password" class="modal-field-input" id="user-password" >
            </div>
            
            <button class="modal-form-btn" id="submit-form-btn">Sign Up</button>

        </form>
    </div>

</div>
<!-- <div class="modal-bgd" id="auth-modal-SignIn">

    <div class="modal-form-container">
        <button class="close-btn js-sign-in-close-btn" >x</button>

        <form action="#" class="modal-form" data-netlify="true" id="form">
      
            <p class="modal-form-descr">Sign In please </p>

            <div class="modal-form-field">
                <label for="user-name" class="modal-field-name">Ім'я</label>
                <input type="text" class="modal-field-input" id="user-name" name="Ім'я">
            </div>
            
            <div class="modal-form-field">
                <label for="user-email" class="modal-field-name">Email</label>
                <input type="email" class="modal-field-input" id="user-email" name="Email">
            </div>
            
            <button class="modal-form-btn" id="launch-btn">Sign In</button>

        </form>
    </div>

</div> -->