<footer>
  <div class="container">
    <p class="footer__logo">News</p>
    <div class="team-members">
      <p class="footer__created">Created by AMD Team:</p>
      <ul class="footer__team">
        <li class="footer__member">
          <a
            href="https://www.linkedin.com/in/alisa-romantsova/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer__link"
          >
            <img src="./images/alisa.jpg" alt="" class="footer__img" />
            <p class="footer__member-name">Alisa</p>
            <p class="footer__member-name">Romantsova</p>
            <p class="footer__member-name">Team Lead</p>
          </a>
        </li>
        <li class="footer__member">
          <a
            href="https://www.linkedin.com/in/volodymyr-sobko-3b199a232/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer__link"
          >
            <img src="./images/vova.jpg" alt="" class="footer__img" />
            <p class="footer__member-name">Vova</p>
            <p class="footer__member-name">Sobko</p>
            <p class="footer__member-name">Scrum Master</p>
          </a>
        </li>
        <li class="footer__member">
          <a
            href="https://www.linkedin.com/in/serhii-saproshyn/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer__link"
          >
            <img src="./images/sergey.jpg" alt="" class="footer__img" />
            <p class="footer__member-name">Sergey</p>
            <p class="footer__member-name">Saproshin</p>
          </a>
        </li>
        <li class="footer__member">
          <a
            href="https://www.linkedin.com/in/diana-forostiana-9b4069245/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer__link"
          >
            <img src="./images/diana.jpg" alt="" class="footer__img" />
            <p class="footer__member-name">Diana</p>
            <p class="footer__member-name">Forostyana</p>
          </a>
        </li>
        <li class="footer__member">
          <a
            href=""
            class="footer__link"
            target="_blank"
            rel="noreferrer noopener"
          >
            <img src="./images/kirill.jpg" alt="" class="footer__img" />
            <p class="footer__member-name">Kirill</p>
            <p class="footer__member-name">Voronin</p>
          </a>
        </li>
        <li class="footer__member">
          <a
            href="https://www.linkedin.com/in/ivankostishyn/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer__link"
          >
            <img src="./images/ivankos.jpg" alt="" class="footer__img" />
            <p class="footer__member-name">Ivan</p>
            <p class="footer__member-name">Kostishin</p>
          </a>
        </li>
        <li class="footer__member">
          <a
            href="https://www.linkedin.com/in/yuliiakostishyna/"
            target="_blank"
            rel="noreferrer noopener"
            class="footer__link"
          >
            <img src="./images/ulia.jpg" alt="" class="footer__img" />
            <p class="footer__member-name">Uliia</p>
            <p class="footer__member-name">Kostishina</p>
          </a>
        </li>
        <li class="footer__member">
          <a href="https://www.linkedin.com/in/marharyta-dieltsova-64a99926b/" class="footer__link">
            <img
              src="./images/margo.jpg"
              alt=""
              target="_blank"
              rel="noreferrer noopener"
              class="footer__img"
            />
            <p class="footer__member-name">Margarita</p>
            <p class="footer__member-name">Deltsova</p>
          </a>
        </li>
        <li class="footer__member">
          <a href="" class="footer__link">
            <img
              src="./images/ivanklim.jpg"
              alt=""
              target="_blank"
              rel="noreferrer noopener"
              class="footer__img"
            />
            <p class="footer__member-name">Ivan</p>
            <p class="footer__member-name">Klimentiev</p>
          </a>
        </li>
        <li class="footer__member">
          <a href="" class="footer__link">
            <img
              src="./images/dima.jpg"
              alt=""
              target="_blank"
              rel="noreferrer noopener"
              class="footer__img"
            />
            <p class="footer__member-name">Dima</p>
            <p class="footer__member-name">Gavrilov</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__tech-div">
      <p class="footer__created">With:</p>
      <ul class="footer__tech">
        <li>
          <svg width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-html5"></use>
          </svg>
        </li>
        <li>
          <svg width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-sass"></use>
          </svg>
        </li>
        <li>
          <svg width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-js"></use>
          </svg>
        </li>
        <li>
          <svg width="24" height="24">
            <use href="./images/symbol-defs.svg#icon-axios"></use>
          </svg>
        </li>
        <li>
          <svg width="30" height="24">
            <use href="./images/symbol-defs.svg#icon-parcel"></use>
          </svg>
        </li>
      </ul>
    </div>
    <div class="footer__end">
      <p>2023</p>
      <p>Glory to Ukraine</p>
      <img src="./images/ukraine.jpg" width="40" alt="" />
    </div>
  </div>
</footer>
