<footer>
    <div class="container">
      <p class="footer__logo">News</p>
      <div class="team-members">
        <p class="footer__created">Created by Team Name:</p>
        <ul class="footer__team">
          <li class="footer__member">
            <a href="" class="footer__link">
              <img src="./images/alisa.jpg" alt="" class="footer__img" />
              <p class="footer__member-name">Alisa Romantsova</p>
              <p class="footer__member-name">Team Lead</p>
            </a>
          </li>
          <li class="footer__member">
            <a href="" class="footer__link">
              <img src="./images/vova.jpg" alt="" class="footer__img" />
              <p class="footer__member-name">Vova Sobko</p>
              <p class="footer__member-name">Scrum Master</p>
            </a>
          </li>
          <li class="footer__member">
            <a href="" class="footer__link">
              <img src="./images/sergey.jpg" alt="" class="footer__img" />
              <p class="footer__member-name">Sergey Saproshin</p>
            </a>
          </li>
          <li class="footer__member">
            <a href="" class="footer__link">
              <img src="./images/diana.jpg" alt="" class="footer__img" />
              <p class="footer__member-name">Diana Forostyanaya</p>
            </a>
          </li>
          <li class="footer__member">
            <a href="" class="footer__link">
              <img src="./images/kirill.jpg" alt="" class="footer__img" />
              <p class="footer__member-name">Kirill Voronin</p>
            </a>
          </li>
          <li class="footer__member">
            <a href="" class="footer__link">
              <img src="./images/ivankos.jpg" alt="" class="footer__img" />
              <p class="footer__member-name">Ivan Kostishin</p>
            </a>
          </li>
          <li class="footer__member">
            <a href="" class="footer__link">
              <img src="./images/ulia.jpg" alt="" class="footer__img" />
              <p class="footer__member-name">Uliia Kostishina</p>
            </a>
          </li>
          <li class="footer__member">
            <a href="" class="footer__link">
              <img src="./images/margo.jpg" alt="" class="footer__img" />
              <p class="footer__member-name">Margarita Deltsova</p>
            </a>
          </li>
          <li class="footer__member">
            <a href="" class="footer__link">
              <img src="./images/ivanklim.jpg" alt="" class="footer__img" />
              <p class="footer__member-name">Ivan Klimentiev</p>
            </a>
          </li>
          <li class="footer__member">
            <a href="" class="footer__link">
              <img src="./images/dima.jpg" alt="" class="footer__img" />
              <p class="footer__member-name">Dima Gavrilov</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__tech-div">
        <p class="footer__created">With:</p>
        <ul class="footer__tech">
          <li>
            <svg width="24" height="24">
              <use href="./images/symbol-defs.svg#icon-html5"></use>
            </svg>
          </li>
          <li>
            <svg width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-sass"></use>
              </svg>
          </li>
          <li>
            <svg width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-js"></use>
              </svg>
          </li>
          <li>
            <svg width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-axios"></use>
              </svg>
          </li>
        </ul>
      </div>
      <div class="footer__end">
        <p>2023</p>
        <p>Glory to Ukraine</p>
        <img src="./images/ukraine.jpg" alt="" />
      </div>
    </div>
  </footer>
