<section class="pagination">
  <div class="container pagination__container">
    <button type="button" class="pagination__btn pagination__prev">
      <span>
        <svg
          width="7.78"
          height="12.73"
          viewBox="0 0 19 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m6.787 16 11.88 11.88-3.394 3.394L-.001 16 15.273.726l3.394 3.394L6.787 16z"
          />
        </svg>
        <p>Prev</p></span
      >
    </button>
    <div class="pagination__numeric-btn-container"></div>
    <button type="button" class="pagination__btn pagination__next">
      <span
        ><p>Next</p>
        <svg
          width="7.78"
          height="12.73"
          viewBox="0 0 19 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10.669 16 0 5.336 5.332 0l16.001 16L5.332 32 0 26.664 10.669 16z"
          />
        </svg>
      </span>
    </button>
  </div>
</section>
